
/* Fonts */
/* @font-face {
  font-family: "Lato-Black";
  src: local('Lato-Black_1'), url('../fonts/Lato-Black_1.woff') format('woff'),
  local('Lato-Black'), url('../fonts/Lato-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
} */

@font-face {
  font-family: "Lato-Bold";
  src: url('../fonts/lato-bold.woff') format('woff'),
  url('../fonts/lato-bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url('../fonts/lato-regular.woff') format('woff'),
  url('../fonts/lato-regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* Reset */
* {
  padding: 0;
  margin: 0;
  /* border: 0; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

input {
  outline: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline-style: none;
  user-select: none;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

address {
  font-style: normal;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Basic styles */
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'lato-regular', sans-serif;
  font-weight: 700;
  font-size: 40px;
  background-color: var(--color-black);
  color: var(--color-white);
}

.container {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100%;
}

@media (max-width: 1920px) {
  .container {
    max-width: calc(320px + (1920 - 320) * ((100vw - 320px) / (1920 - 320)));
    padding-left: calc(20px + (75 - 42) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(20px + (75 - 42) * ((100vw - 320px) / (1920 - 320)));
  }
}